.cornerlogo{
    height: 30px; 
    width: 30px;
  }
   
  .App {
    text-align: center;
    background-color: #d5d5d8;
  }

  .row {
    margin: 0px 3px 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}